<section class="timeline js-cd-timeline">
    <div class="timeline__container">
        <div class="timeline__block js-cd-block">
            <div class="timeline__pill js-cd-img"></div>
            <section class="timeline__content js-cd-content">
                <header>
                    <p class="timeline__date">2020-12-31</p>
                    <h2 class="timeline__title">Title</h2>
                </header>
                <p class="timeline__description">Summary</p>
                <a href="" class="timeline__read-more">See details...</a>
            </section>
        </div>
    </div>
</section>